*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Manrope,sans-serif;
    background:#fff;
}

.otp-page{
    display:flex;
    width:100%;
    min-height:100vh;
}

.otp-left{
    width:45%;
    background:linear-gradient(192.15deg,#3D79EA 5.68%,#1B1A2D 89.15%);
    display:flex;
    justify-content:center;
    align-items:center;
}

.otp-left-content{
    text-align:center;
    color:#fff;
}

.shield-circle{
    width:auto;
    height:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto 28px;
    background:transparent;
   
    
}

.shield-circle img{
    width:56px;
    height:56px;
    display:block;
    object-fit:contain;
    background:transparent;
    
   
   
}

.otp-left h1{
    font-size:40px;
    font-weight:700;
    line-height:48px;
    letter-spacing:-0.8px;
    margin-bottom:12px;
}

.otp-left p{
    font-size:16px;
    line-height:28px;
    color:#D7D9F3;
}

.otp-right{
    width:55%;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
}

.otp-card{
    width:430px;
}

.otp-card h2{
    font-size:40px;
    font-weight:700;
    color:#1D2433;
    margin-bottom:16px;
}

.description{
    font-size:15px;
    color:#616161;
    line-height:28px;
    margin-bottom:40px;
}

.description span{
    color:#3F32D9;
    font-weight:700;
}

.otp-inputs{
    display:flex;
    gap:16px;
    margin-bottom:40px;
}

.otp-inputs input{
    width:54px;
    height:54px;
    border:1px solid #D9D9E7;
    border-radius:10px;
    text-align:center;
    font-size:24px;
    
}

.otp-inputs input:focus{
    border:2px solid #3F32D9;
}

.verify-btn{
    width:100%;
    height:54px;
    border-radius:8px;
    background:#3F32D9;
    color:#fff;
    font-size:16px;
    font-weight:700;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    cursor:pointer;
}

.verify-btn:hover{
    background:#3525CD;
}

.verify-btn img{
    width:18px;
    height:18px;
}

.resend{
    text-align:center;
    margin:24px 0 36px;
    color:#777;
    font-size:13px;
}

.resend span{
    color:#3F32D9;
    font-weight:700;
}

hr{
    border:none;
    border-top:1px solid #ECECEC;
    margin-bottom:24px;
}

.security{
    display:flex;
    justify-content:center;
    gap:28px;
}

.security div{
    display:flex;
    align-items:center;
    gap:8px;
}

.security img{
    width:14px;
    height:14px;
}

.security span{
    font-size:11px;
    color:#8E8E8E;
    letter-spacing:.5px;
}

@media(max-width:900px){

    .otp-page{
        flex-direction:column;
    }

    .otp-left,
    .otp-right{
        width:100%;
    }

    .otp-left{
        min-height:320px;
        padding:40px 20px;
    }

    .otp-right{
        padding:40px 20px;
    }

    .otp-card{
        width:100%;
        max-width:430px;
    }

    .otp-inputs{
        justify-content:space-between;
    }

    .otp-inputs input{
        width:46px;
        height:46px;
    }
}